<html>

<head>
    <title></title>
    <link href='https://svc.webspellchecker.net/spellcheck31/lf/scayt3/ckscayt/css/wsc.css' rel='stylesheet' type='text/css'
    />
    <link href='https://svc.webspellchecker.net/spellcheck31/lf/scayt3/ckscayt/css/wsc.css' rel='stylesheet' type='text/css'
    />
    <link href='https://svc.webspellchecker.net/spellcheck31/lf/scayt3/ckscayt/css/wsc.css' rel='stylesheet' type='text/css'
    />
    <link href='https://svc.webspellchecker.net/spellcheck31/lf/scayt3/ckscayt/css/wsc.css' rel='stylesheet' type='text/css'
    />
</head>

<body aria-readonly='false' style='cursor: auto;'>Dear User,
    <br/>
    <br/>The following alert has been noted, for Medreich Unit 8, RR No.: NGHT13
    <table align='left' border='1' cellpadding='1' cellspacing='1' style='width:600px'>
        <tbody>
            <tr>
                <td>Time</td>
                <td>{{date_time}}</td>
            </tr>
            <tr>
                <td>Transformer Efficiency (Average of past 5 minutes)</td>
                <td>{{efficiency}}%</td>
            </tr>
            <tr>
                <td>Ideal Transformer Efficiency</td>
                <td>100-100%</td>
            </tr>
            <tr>
                <td>Alert setting</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <strong>Powered by SKYCOMM, Smart Plant analytics.</strong>
</body>

</html>